img {
    width: 700px;
}

h1 {
    color: blue;
    font-family: Geneva, Avenir, Sans-Serif;
    font-size: 33px;
    text-transform: none;
}

h2 {
    color: red;
    font-family: Kefa, Georgia, Serif;
    font-size: 23px;
    text-transform: none;
}

p {
    color: blue;
    font-family: Geneva, Avenir, Sans-Serif;
    font-size: 17px;
    text-transform: none;
}